/*样式重置开始*/
*{
    padding: 0;
    margin: 0;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:link {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
a:active {
    text-decoration: none;
    color: inherit;
}
html, body{
    font-size: 10px;
}

/*样式重置结束*/
#index{
    width: 600px;
    margin: 0 auto 50px auto;
    position: relative;
}
@media(max-width: 600px) {
    #index{
        width: 100%;
    }
}
@media(max-width: 330px) {
    body, html{
        font-size: 9px;
    }
}
/*底部导航栏样式开始*/
.home-footer{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background: #ffffff;
    border-top: 1px solid #cccccc;
}
.home-footer .item{
    height: 100%;
    text-align: center;
    padding-top: 10px;
}
.home-footer div{
    display: inline-block;
}
.home-footer .item p{
    display: block;
    font-size: 1.8rem;
    margin: 0;
}
.home-footer .item span{
    font-size: 1.2rem;
}
/*底部导航栏样式结束*/

/*用户页开始*/
#userPage-head{
    clear: both;
    padding:3.5% 0 0 10%;
    border: 1px solid #ccc;
    height: 80px;
    background: rgba(0,150,255,0.8);
}
#userPage-head img{
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
#userPage-head p{
    font-size: 1.6rem;
    margin-left: 58px;
    line-height: 48px;
}
#userPage-head span{
    color: gold;font-weight:bold;font-style: italic;
}
/*用户操作样式开始*/
#userPage-data{
    padding: 20px 0 0 20px;
}
#userPage-data p{
    margin: 1.2rem 0 1.2rem 0;
}
#userPage-data a{
    color: rgb(85,26,139);
    font-size: 1.8rem;
}
#userPage-data img{
    width: 20px;
}
/*用户操作样式结束*/
/*个人资料样式开始*/
#userPage-datum h1{
    margin: 22px 0;
    font-size: 3rem;
    border-bottom: 1px solid #ccc; box-shadow: 1px 5px rgba(0,0,0,.2);
}
#userPage-datum p{
    margin: 1.2rem 0 1.2rem 0;
}
#userPage-datum h1 a{
    width: 39px;
    height: 39px;
    font-size: 3.4rem;
}
#user-content {
    padding: 0 5%;
}
#user-content a{
    color: rgb(85,26,139);
    font-size: 1.6rem;
}
/*个人资料样式结束*/
/*用户页结束*/
