/*样式重置开始*/
*{
    padding: 0;
    margin: 0;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:link {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
a:active {
    text-decoration: none;
    color: inherit;
}
html, body{
    font-size: 10px;
}

/*样式重置结束*/
#index{
    width: 600px;
    margin: 0 auto 50px auto;
    position: relative;
}
@media(max-width: 600px) {
    #index{
        width: 100%;
    }
}
@media(max-width: 330px) {
    body, html{
        font-size: 7px;
    }
}
/*首页样式开始*/
.home-header{
    height: 120px;
    width: 100%;
    background: #0096ff;
    padding: 0 50px 0 50px;
}
.home-header .hot-word{
    display: inline-block;
    margin: 10px 1% 10px 10px;
    cursor: pointer;
    color: #ffffff;
}
.home-header .input-group{
    padding-top: 43px;
}
.home-header .form-control{
    border-radius: 50px;
    -webkit-border-radius: 50px;
}
.home-header .btn{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    outline: none;
}
.home-container .product{
    display: block;
    width: 100%;
    height: 140px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}
.home-container .product-img{
    position: absolute;
    height: 140px;
    width: 140px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.home-container .product-img img{
    height: 100%;
    width: 100%;
}
.home-container .product-describe{
    display: inline-block;
    padding-left: 145px;
    width: 100%;
    height: 100%;
}
.home-container .product-title{
    display: -webkit-box;
    margin-top: 5px;
    font-size: 1.8rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    height: 38px;
}
.home-container .product-price{
    height: 40px;
    width: 100%;
}
.home-container .product-price .num{
    line-height: 40px;
    font-size: 1.8rem;
    color: #c9302c;
}
.home-container .product-info{
    display: -webkit-box;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.home-container .product-info p{
    overflow: hidden;
    color: #999;
    font-size: 1rem;
}
.home-container .product-num{
    -webkit-box-flex: 1;
    text-align: center;
}
.home-container .product-area{
    margin-right: 5px;
}
.home-container .down{
    text-align: center;
    width: 100%;
    color: #8c8c8c;
}
.home-footer{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background: #ffffff;
    border-top: 1px solid #cccccc;
}
.home-footer .item{
    height: 100%;
    text-align: center;
    padding-top: 10px;
}
.home-footer div{
    display: inline-block;
}
.home-footer .item p{
    display: block;
    font-size: 1.8rem;
    margin: 0;
}
.home-footer .item span{
    font-size: 1.2rem;
}
/*首页样式结束*/