/*样式重置开始*/
*{
    padding: 0;
    margin: 0;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:link {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
a:active {
    text-decoration: none;
    color: inherit;
}
html, body{
    font-size: 10px;
}

/*样式重置结束*/
#index{
    width: 600px;
    margin: 0 auto 50px auto;
    position: relative;
}
@media(max-width: 600px) {
    #index{
        width: 100%;
    }
}
@media(max-width: 330px) {
    body, html{
        font-size: 7px;
    }
}
/*首页样式开始*/
.home-header{
    height: 120px;
    width: 100%;
    background: #0096ff;
    padding: 0 50px 0 50px;
}
.home-header .hot-word{
    display: inline-block;
    margin: 10px 1% 10px 10px;
    cursor: pointer;
    color: #ffffff;
}
.home-header .input-group{
    padding-top: 43px;
}
.home-header .form-control{
    border-radius: 50px;
    -webkit-border-radius: 50px;
}
.home-header .btn{
    border-radius: 50px;
    -webkit-border-radius: 50px;
    outline: none;
}
.home-container .product{
    display: block;
    width: 100%;
    height: 140px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}
.home-container .product-img{
    position: absolute;
    height: 140px;
    width: 140px;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.home-container .product-img img{
    height: 100%;
    width: 100%;
}
.home-container .product-describe{
    display: inline-block;
    padding-left: 145px;
    width: 100%;
    height: 100%;
}
.home-container .product-title{
    display: -webkit-box;
    margin-top: 5px;
    font-size: 1.8rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
    height: 38px;
}
.home-container .product-price{
    height: 40px;
    width: 100%;
}
.home-container .product-price .num{
    line-height: 40px;
    font-size: 1.8rem;
    color: #c9302c;
}
.home-container .product-info{
    display: -webkit-box;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.home-container .product-info p{
    overflow: hidden;
    color: #999;
    font-size: 1rem;
}
.home-container .product-num{
    -webkit-box-flex: 1;
    text-align: center;
}
.home-container .product-area{
    margin-right: 5px;
}
.home-container .down{
    text-align: center;
    width: 100%;
    color: #8c8c8c;
}
.home-footer{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background: #ffffff;
    border-top: 1px solid #cccccc;
}
.home-footer .item{
    height: 100%;
    text-align: center;
    padding-top: 10px;
}
.home-footer div{
    display: inline-block;
}
.home-footer .item p{
    display: block;
    font-size: 1.8rem;
    margin: 0;
}
.home-footer .item span{
    font-size: 1.2rem;
}
/*首页样式结束*/

/*用户页开始*/
#userPage-head{
    clear: both;
    padding:3.5% 0 0 10%;
    border: 1px solid #ccc;
    height: 80px;
    background: rgba(0,150,255,0.8);
}
#userPage-head img{
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
#userPage-head p{
    font-size: 1.6rem;
    margin-left: 58px;
    line-height: 48px;
}
#userPage-head span{
    color: gold;font-weight:bold;font-style: italic;
}
/*用户操作样式开始*/
#userPage-data{
    padding: 20px 0 0 20px;
}
#userPage-data p{
    margin: 1.2rem 0 1.2rem 0;
}
#userPage-data a{
    color: rgb(85,26,139);
    font-size: 1.8rem;
}
#userPage-data img{
    width: 20px;
}
/*用户操作样式结束*/
/*个人资料样式开始*/
#userPage-datum h1{
    margin: 22px 0;
    font-size: 3rem;
    border-bottom: 1px solid #ccc; box-shadow: 1px 5px rgba(0,0,0,.2);
}
#userPage-datum p{
    margin: 1.2rem 0 1.2rem 0;
}
#userPage-datum h1 a{
    width: 39px;
    height: 39px;
    font-size: 3.4rem;
}
#user-content {
    padding: 0 5%;
}
#user-content a{
    color: rgb(85,26,139);
    font-size: 1.6rem;
}
/*个人资料样式结束*/
/*用户页结束*/