/*header开始*/
.merchant-header {
    height: 200px;
    position: relative;
    border-bottom: 1px solid #000000;
}
.merchant-option,.merchant-cart,.merchant-return{
    cursor: pointer;
    display: inline-block;
    width: 34px;
    height: 34px;
}
.merchant-header .merchant-return{
    background: url("../imgs/left%20.png") no-repeat 0 0;
}
.merchant-header .merchant-cart{
    background: url("../imgs/cart.png") no-repeat 0 0;
    float: right;
    margin-right: 20px;
}
.merchant-header .merchant-option{
    background: url("../imgs/menu.png") no-repeat 0 0;
    float: right;
    margin-right: 10px;
}
.merchant-header .merchant-option-content{
   position: absolute;
    top: 35px;
    right: 20px;
    width: 80px;
    border: 1px #000000 solid;

    display: none;
}
.merchant-header .merchant-option-content li{
    display: inline-block;
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #eeeeee;
    text-align: center;
}
.merchant-header .merchant-option-content li a{
    width: 100%;
    height: 100%;
    text-align: center;
}
.merchant-header .merchant-details{
    height: 150px;
    margin-top: 16px;
    /*background: #e4b9b9;*/
    position: relative;
}
.merchant-header .merchant-details .merchant-logo{
    width: 80px;
    height: 80px;
    /*border: 1px solid #0096ff;*/
}
.merchant-header .merchant-details .merchant-name{
    display: inline-block;
    height:20px;
    line-height: 20px;
    margin-left: 20px;
    font-size: 1.6rem;
}
.merchant-header .merchant-details .merchant-expressage{
    position: absolute;
    top:40px;
    left: 110px;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
}
.merchant-header .merchant-details .merchant-expressage li{
    float: left;
    font-size: 0.6rem;
}
.merchant-header .merchant-details .merchant-expressage span{
    display: inline-block;
    width: 2px;
    height:10px;
    background: #eeeeee;
    margin-left: 5px;
    margin-right: 5px;
}
.merchant-header .merchant-details .merchant-notice{
    position: absolute;
    top: 60px;
    left: 100px;
    font-size: 0.5rem;
}
.merchant-header .merchant-details .merchant-discount{
    margin-top: 10px;
    font-size: 0.5rem;
}
.merchant-header .merchant-details .merchant-skip{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../imgs/right%20.png") no-repeat 0 0;
    position: absolute;
    top: 40px;
    right: 10px;
}
.merchant-header .merchant-details .merchant-skip a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
/*header结束*/
/*merchant-milk开始*/
.merchant-milk{
    position: relative;
}
.merchant-milk .merchant-main-menu{
    display: -webkit-box;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    height: 30px;
    line-height: 30px;
    font-size: 1.6rem;
    font-weight: bold;
}
.merchant-milk .merchant-main-menu li{
    /*float: left;*/
    -webkit-box-flex: 1;
    /*display: inline-block;*/
    /*height: 20px;*/
}
.merchant-milk .merchant-main-menu li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.merchant-milk .merchant-main-menu li.selected{
    color: blue;
    border-bottom: 1px solid #007aff;
}

.merchant-milk .merchant-sub-menu{
    display: none;
}
.merchant-milk .merchant-sub-menu.selected{
    display: block;
}
.merchant-milk-details-type{
    height: 200px;
    width: 100px;
}
.merchant-milk-details-type li{
    display: inline-block;
    width: 100%;
    height: 50px;
    border: 1px solid #999999;
    text-align: center;
    line-height: 50px;
    background: #eeeeee;
    font-size: 1.5rem;
}
.merchant-milk-details-type li.selected{
    background: #FFFFFF;
    /*opacity: 0.5;*/
    color: #000000;
    border-left: 2px solid blue;
}
.merchant-milk-details-content ul{
    display: none;
    font-size: 1.5rem;
}
.merchant-milk-details-content ul.selected{
    display: block;
}
.merchant-milk-details-content{
    position: absolute;
    left: 110px;
    top: 45px;
    /*width: 200px;*/
}
.merchant-milk-details-content ul{
    height: 100px;
    width: 300px;
}
.merchant-milk-details-content li{
    display: inline-block;
    /*width: 200px;*/
    height: 100px;
    position: relative;
    margin-top: 20px;
}
.merchant-milk-details-content li .milk-logo{
    width: 50px;
    height: 50px;
}
.merchant-milk-details-content li .milk-title{
    position: absolute;
    top: 0;
    left: 60px;
    width: 200px;
    height: 20px;
    text-align: left;
    line-height: 20px;
    font-size: 1.6rem;
}
.merchant-milk-details-content li .milk-introduction{
    position: absolute;
    top: 20px;
    left: 60px;
    width: 200px;
    height: 30px;
    font-size: 0.8rem;
}
.merchant-milk-details-content li .milk-price{
    position: absolute;
    top: 50px;
    left: 60px;
    font-size: 1.8rem;
    color: red;
    font-weight: bolder;
}
.merchant-milk-details-content li .milk-add{
    position: absolute;
    top: 0px;
    left: 200px;
}
/*merchant-milk结束*/
/*footer开始*/
html{
    height: 100%;
}
body{
    height: 100%;
}
#index{
    height: 100%;
    margin-bottom: 0px;
}
.wrapper{
    position: relative;
    height: 100%;
    /*background: #66afe9;*/
}
.merchant-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #555555;
}
.merchant-footer .merchant-footer-discount{
    display: inline-block;
    width: 100%;
    height: 30px;
    background: rgb(227,207,87);
    text-align: center;
    line-height: 30px;
}
.merchant-footer .merchant-footer-cart{
    position: relative;
}
.merchant-footer .merchant-footer-cart img{
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    left: 10px;
    top: -10px;
}
.merchant-footer .merchant-footer-cart .full{
    display: none;
}
.merchant-footer .merchant-footer-cart .money{
    display: inline-block;
    height: 70px;
    line-height: 70px;
    position: absolute;
    left: 70px;
    top: 0;
    font-size: 1.6rem;
    color: #eeeeee;
}
.merchant-footer .settlement{
    display: inline-block;
    width: 150px;
    height: 70px;
    border: 1px solid #757575;
    position: absolute;
    right: 0;
    top: 30px;
    text-align: center;
    line-height: 70px;
    font-size: 1.6rem;
    color: #eeeeee;
}
/*footer结束*/
