/*商品详情页样式*/
  /*轮播图样式开始*/
#bootstrap-touch-slider .item{
    width: 600px;
    height: 600px;
}
#bootstrap-touch-slider img{
    width: 100%;
    height: 100%;
}
#bootstrap-touch-slider li{
    background-color: #ffffff;
}
#bootstrap-touch-slider .active{
    background-color: #0096ff;
}
/*轮播图样式结束*/
.product-price{
    height: 40px;
    width: 100%;
}
.product-price .num{
    line-height: 40px;
    font-size: 1.8rem;
    color: #c9302c;
}
.product-price{
    display: inline;
}
.book{
    float: right;
}
.product-info{
    display: -webkit-box;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.product-info p{
    overflow: hidden;
    color: #999;
    font-size: 1rem;
}
 .product-num{
    -webkit-box-flex: 1;
    text-align: center;
}
 .product-area{
    margin-right: 5px;
}
.pro-evaluation{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #cccccc;
}
.evaluation-list li{
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}
.evaluation-list span{
    font-size: 1rem;
    color: #999;
}
.evaluation-list p{
    padding-top: 10px;
}
.book-custom{
    float: right;
}
.pro-description{
    padding: 20px 0;
   border-bottom: 1px solid #FFEEC2;
    border-top: 1px solid #FFEEC2;
}
.btn-sty{
    border: 1px solid #0096ff;
    background-color: #0096ff;
    color: #ffffff;
    border-radius: 6%;
    width: 75px;
    height: 30px;

}
.more-evaluation{
    display: block;
    margin: 0 auto;

}
/*商品详情页样式结束*/



