.wrapper{
    padding: 0 20px 0 20px;
}
/*header开始*/
header{
    height: 100px;
    width: 100%;
    background:#0096ff;
    line-height: 100px;
}
header .in{
    display: inline-block;
    height: 32px;
    width: 100%;
}
header a{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../imgs/left%20.png"),no-repeat;
    float: left;
}
header .in span{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-size: 2.0rem;
    margin-left: 20px;
    float: left;
}
/*header结束*/
/*seller-introduction开始*/
.seller-introduction{
    margin-top: 20px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 10px solid #eeeeee;
}
.seller-introduction .seller-logo{
    width: 80px;
    height: 80px;
    margin: 5px;
}
.seller-introduction .seller-name{
    display: inline-block;
    height:40px;
    line-height: 40px;
    margin-left: 20px;
    font-size: 3.0rem;
    font-weight: bolder;
}
.seller-introduction .seller-expressage{
    position: absolute;
    top:60px;
    left: 110px;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
}
.seller-introduction .seller-expressage li{
    float: left;
    font-size: 1.6rem;
}
.seller-introduction .seller-expressage span{
    display: inline-block;
    width: 2px;
    height:10px;
    background: #eeeeee;
    margin-left: 5px;
    margin-right: 5px;
}
.seller-introduction .seller-notice{
    width: 100%;
    height: 100px;
    background: #eeeeee;
    font-size: 1.6rem;
    margin-top: 10px;
}
/*seller-introduction结束*/
/*evaluate开始*/
.evaluate{

}
.evaluate .total{
    display: inline-block;
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-size: 2.0rem;
    color: #eeeeee;
    text-align: right;
    border-bottom: 1px solid #eeeeee;
}
.evaluate .evaluate_detail li{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
}
.evaluate .more{
    border: 1px solid #0096ff;
    background-color: #0096ff;
    color: #ffffff;
    border-radius: 6%;
    width: 100px;
    height: 50px;
    margin: 0 auto;
}
/*evaluate结束*/