/*用户页头像*/
#userPage-head{
    clear: both;
    padding:5% 0 5% 10%;
    border: 1px solid #ccc;
    height: 48px;
    font-size: 1.6rem;
    background: rgba(251,262,155,0.4);
}
#userPage-head img{
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
#userPage-head p{
    margin-left: 58px;
    line-height: 48px;
}
#userPage-head span{
    color: gold;font-weight:bold;font-style: italic;
}
/*用户操作*/
#userPage-data{
    padding: 20px 0 0 20px;
}
#userPage-data a{
    color: rgb(85,26,139);
    border-bottom: 1px solid #ccc;
    /*margin-bottom: 2.06rem;*/
}
#userPage-data img{
    width: 20px;
}
/*个人资料*/
#userPage-datum h1{
    margin: 22px 0;
    font-size: 3rem;
    border-bottom: 1px solid #ccc; box-shadow: 1px 5px rgba(0,0,0,.2);
}
#userPage-datum p{
    margin: 1.2rem 0 1.2rem 0;
}
#userPage-datum a{
    color: rgb(85,26,139);
    font-size: 1.6rem;
}