/*用户页开始*/
/*公共样式*/
body {
    background: rgb(244, 244, 244);
}

.commom h1 {
    background: white;
    margin: 0;
    line-height: 6rem;
    font-size: 3rem;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 5px rgba(0, 0, 0, .2);
}

.commom h1 a {
    width: 39px;
    height: 39px;
    font-size: 3.4rem;
}

/*公共样式*/
#userPage-head {
    clear: both;
    height: 150px;
    display: flex;
    background: #0097ff;
    padding: 2rem 2rem;
    color: #fff;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

#userPage-head img {
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

#userPage-head p {
    font-size: 2.2rem;
    margin: 0;
    margin-left: 1.2rem;
}

#userPage-head span {
    color: gold;
    font-weight: bold;
    font-style: italic;
}

/*用户操作样式开始*/
#userPage-data {
    margin: 20px 0 0 0;
    padding: 0 20px;
    background: white;
}

#userPage-data a {
    display: block;
    margin: 1.2rem 0 1.2rem 0;
    padding: 2% 0;
    border-bottom: 1px solid #ddd;
    color: inherit;
    font-size: 1.8rem;
    box-sizing: inherit;
}

#userPage-data a:active {
    background: rgba(12, 23, 100, .5);
}

#userPage-data img {
    width: 20px;
}

#userPage-data span {
    float: right;
}
/*会员,联系客服,版本通用样式*/
.member, .phone, .version {
    background: white;
    margin: 1rem 0;
    padding: 2rem;
    font-size: 2rem;
}

/*会员,联系客服,版本通用样式结束*/
/*会员中心开始*/
h4 {
    background: white;
}

/*会员中心结束*/
/*用户操作样式结束*/
/*个人资料样式开始*/
#user-content {
    background: white;
    padding: 0 5%;
}

#user-content a {
    display: block;
    border-bottom: 1px solid #ddd;
    margin: 1.2rem 0 1.2rem 0;
    padding: 2% 0;
    font-size: 1.8rem;
    color: inherit;
    box-sizing: inherit;
}

#user-content a:active {
    background: rgba(12, 23, 100, .5);
}

#user-content span {
    /*padding-right: 1.5rem;*/
    float: right;
}

/*修改昵称开始*/

#nickname-box {
    background: white;
}

.nickname {
    font-size: 1.8rem;
    margin: 6rem 0 0 6rem;
    padding-bottom: 1rem;
}

#user-chname {
    width: 40%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    outline: none;
}

.submit {
    background: white;
    border: 1px solid #ccc;
    font-size: 1.6rem;
}

/*修改昵称结束*/
/*修改密码开始*/
#changepwd-box {
    background: white;
}

.user-chpwd {
    width: 200px;
    height: 270px;
    margin: 2rem auto;
    font-size: 1.8rem;
    text-align: center;
}

.user-chpwd p {
    margin: 10px 0;
}

.user-chpwd input {
    outline: none;
}

.chpwd-submit {
    margin-top: 10px;
    width: 204px;
    height: 30px;
}

/*修改密码结束*/
/*收货地址开始*/
#address-box, #addressEdit-box {
    background: white;
}

.edit {
    float: right;
    padding-right: 1.5rem;
}

.delete {
    float: right;
    padding-right: 1.5rem;
    color: red;
}

#address-message {
    margin-top: 2rem;
    font-size: 1.8rem;
}

#address-box p {
    margin: 1.2rem 0 1.2rem 0;
    color: #ccc;
}

#address-message p span {
    color: steelblue;
}

#addressEdit-box span {
    font-size: 2.5rem;
}

#record-address {
    margin: 2rem;
    font-size: 1.8rem;
}

#record-address p {
    margin: 1.2rem 0;
}

#record-address input {
    outline: none;
}

/*收货地址结束*/
/*个人资料样式结束*/

/*用户页结束*/
